@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --primary-color: rgb(68, 68, 68);
    --birs-color: rgb(231, 214, 24);
    --dark-birs: rgb(192, 176, 5);
    --secondary-color: rgb(122, 69, 0);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

.section-top{
    padding: 8rem;
    color: var(--birs-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.8rem;
    background: url(../img/Trenner2.png) no-repeat center center/contain;
    width: 100%;
}

.bold{
    font-weight: 600;
}

.is-active,
.nav-link.is-active{
  color: var(--birs-color);
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

/* LOADING SCREEN */

#loading-screen{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
    overflow: hidden;
  }

  .loading-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/branch-1299957.png) no-repeat center center/cover;
    transition: 300ms opacity ease-out;
  }
  
  #loading{
    color: whitesmoke;
    font-size: 5rem;
  }
  
  .loading-dots{
    animation: fadingDots 1200ms infinite;
    opacity: 0;
  }
  
  @keyframes fadingDots{
  
    0%{
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }
  
  .loading-dots:nth-child(2){
    animation-delay: 400ms;
  }
  
  .loading-dots:nth-child(3){
    animation-delay: 800ms;
  }

  /* NAVIGATION BAR */

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    z-index: 15;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid var(--birs-color);
  }
  
  .nav-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 200ms all ease-in-out;
    overflow: hidden;
    background: linear-gradient(to right, white,  rgba(231, 214, 24, .3),white);
  }
  
  .nav-title {
    font-size: 1.4rem;
    padding: 1rem;
    color: var(--birs-color);
  }
  
  i {
    margin: 0rem 1rem;
    color: var(--primary-color);
    font-size: 1.3rem;
  }
  
  .nav-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    overflow-x: hidden;
    padding: 0.6rem 0;
  }
  
  .nav-links > li {
    padding: 0.7rem 1rem;
    margin: 0 3rem;
    position: relative;
    text-decoration: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: var(--primary-color);
    transition: 150ms all ease-in-out;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: var(--birs-color);
  }
  
  a::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: var(--birs-color);
    transition: 150ms all ease-in-out;
  }
  
  .nav-link:hover:after {
    width: 70%;
  }

  .menu-btn {
    position: fixed;
    top: 12px;
    right: 15px;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    display: none;
  }
  
  .menu-line {
    height: 3px;
    width: 100%;
    background: var(--primary-color);
    transition: 200ms ease-out all;
  }
  
  .menu-btn.menu-show > .menu-line:nth-child(1) {
    background: var(--primary-color);
    transform: translateY(8px) rotate(-45deg);
  }
  
  .menu-btn.menu-show > .menu-line:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn.menu-show > .menu-line:nth-child(3) {
    background: var(--primary-color);
    transform: translateY(-8px) rotate(45deg);
  }

header{
    height: 100vh;
    width: 100%;
}

#landing-page{
    background: url(../img/landing-birs.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.landing-text-container{
    padding: 25rem 0;
    margin-right: 12rem;
    max-width: 850px;
    max-height: 650px;
    color: var(--primary-color);
    color: whitesmoke;
    transition: 800ms transform ease-in-out 1ms;
}

.landing-title{
  color: var(--birs-color);
  padding: 2rem;
}

.landing-text{
  line-height: 30px;
  padding: 0 5rem 0 0;
}

/* ABOUT US SECTION */

#about-us{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  border-top: 8px solid var(--birs-color);
}


.about-us-container{
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-us-text-card{
  margin: 0 2rem;
}

.about-us-title{
  color: var(--birs-color);
  padding: 2rem 0 3rem 0;
  font-size: 1.4rem;
}

.about-us-title::after{
  content: "";
  height: 400px;
  width: 450px;
  position: absolute;
  left: 75%;
  top: -13%;
  background: url(../img/quincebranch3.png) no-repeat center center/contain;
  z-index: -1;
}

.about-us-text{
  line-height: 30px;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: left;
  padding: 0;
}

.about-us-text > span > a{
  color: var(--dark-birs);
  transition: 150ms ease color;
}

.about-us-text > span > a:hover{
  color: var(--birs-color);
}


#about-us > .section-top,
#gallery > .section-top,
#contact-section > .section-top{
  padding: 4rem 8rem;
}

/* THE FRUIT SECTION */

#thefruit{
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.thefruit-container{
  display: grid;
  grid-template-columns: .75fr 1.75fr;
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 100%;
}

.thefruit-card-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thefruit-card{
  /* background: rgb(241, 241, 241); */
  /* padding: 2rem 1rem; */
  position: absolute;
  display: flex;
  opacity: 0;
  height: 100%;
  /* width: 75%; */
  width: 100%;
  transform: translateX(30%);
  transition: 300ms all ease-out 0ms;
}

.thefruit-card.card-show{
  transform: none;
  opacity: 1;
  z-index: 6;
  transition-delay: 0ms;
}

.thefruit-list-container{
  padding: 2rem 5rem;
  text-align: center;
  position: relative;
}

.thefruit-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.thefruit-list-point{
  padding: .75rem 2rem;
}

.thefruit-card-title{
  text-transform: uppercase;
  padding: 1rem 0;
  color: var(--birs-color);
}

.thefruit-card-pic{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/quince-1737596_1280.jpg) no-repeat center center/cover;
  position: relative;
}

.thefruit-card-pic::before{
  content: "";
  position: absolute;
  height: 80%;
  width: 2px;
  background: var(--birs-color);
  top: 50%;
  transform: translatey(-50%);
  left: -10%;
}

.thefruit-card-pic::after{
  content: "";
  position: absolute;
  height: 80%;
  width: 2px;
  background: var(--birs-color);
  top: 50%;
  transform: translatey(-50%);
  right: -10%;
}


/* Triump */
.thefruit-card:nth-child(1) > .thefruit-card-pic{
  background: url(../img/triumph.jpg) no-repeat center center/cover;
}

/* Bereczki */
.thefruit-card:nth-child(2) > .thefruit-card-pic{
  background: url(../img/Bereczki-birs.jpg) no-repeat center center/cover;
}

/* Vranja */
.thefruit-card:nth-child(3) > .thefruit-card-pic{
  background: url(../img/vranjai.jpg) no-repeat center center/cover;
}

/* Leskováci */
.thefruit-card:nth-child(4) > .thefruit-card-pic{
  background: url(../img/leskovaci.jpg) no-repeat center center/cover;
}

/* Konstantinápolyi */
.thefruit-card:nth-child(5) > .thefruit-card-pic{
  background: url(../img/ornamental-quince-2684072_1920.jpg) no-repeat center center/cover;
}


.thefruit-card-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem 3rem;
  font-size: 1.2rem;
  text-align: justify;
}
.thefruit-card-text > p{
  max-width: 550px;
}

.thefruit-sub-title{
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem 5rem;
}

.fruit-season{
  margin: 1rem 0;
  font-style: italic;
}

/* PIC GALLERY CAROUSEL */

#gallery{
  padding-bottom: 7rem;
}

.pic-gallery-container{
  width: 80%;
  height: 80vh;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}

.carousel-slide{
  display: flex;
  height: 100%;
  width: 100%;
}

.carousel-slide-card{
  min-width: 100%;
  height: 100%;
}

#firstClone{
  background: url(../img/slider1.jpg) no-repeat center center/cover;
}

#lastClone{
  background: url(../img/slider10.jpg) no-repeat center bottom/cover;
}

.carousel-slide-card:nth-child(2){
  background: url(../img/slider1.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(3){
  background: url(../img/slider2.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(4){
  background: url(../img/slider3.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(5){
  background: url(../img/slider4.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(6){
  background: url(../img/slider5.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(7){
  background: url(../img/slider6.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(8){
  background: url(../img/slider7.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(9){
  background: url(../img/slider8.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(10){
  background: url(../img/slider9.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(11){
  background: url(../img/slider10.jpg) no-repeat center bottom/cover;
}

#next-btn{
  padding: 1rem;
  border-radius: 50%;
  background: rgba(80, 80, 80, 0.35);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: var(--birs-color);
  font-size: 25px;
  cursor: pointer;
  z-index: 20;
  transition: 100ms all ease-in-out;
}

#prev-btn{
  padding: 1rem;
  border-radius: 50%;
  background: rgba(80, 80, 80, 0.35);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  color: var(--birs-color);
  font-size: 25px;
  cursor: pointer;
  z-index: 20;
  transition: 100ms all ease-in-out;
}

#prev-btn:hover,
#next-btn:hover{
  background: rgba(80, 80, 80, 0.55);
}

#progress-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  height: 10px;
  width: 0;
  background: var(--birs-color);
  z-index: 5;
  transition: width 4000ms;
}

#pause-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 700ms ease opacity;
  font-size: 55px;
  background: rgba(80, 80, 80, 0.55);
  color: var(--birs-color);
  z-index: 20;
  padding: 1rem;
  border-radius: 50%;
}

/* REFERENCE SECTION */

#reference > .landing-title{
  text-align: center;
}

.reference-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 2rem 12rem;
}


.ref-card-pic{
  width: 100%;
  height: 300px;
  transition: 250ms all ease-out;
}

.reference-card:hover > .ref-card-pic{
  transform: translateY(-2%) scale(1.02);
}

.ref-card-bottom{
  padding: 1rem .7rem;
  background: rgba(231, 214, 24, .1);
  text-align: center;
  font-size: 1rem;
  transition: 250ms background ease-out;
}

.reference-card:hover > .ref-card-bottom{
  background: rgba(231, 214, 24, .2);
}

.reference-card:nth-child(1) > .ref-card-pic{
  background: url(../img/Bekesi-Birs-Palinka-Manufaktura\ Birs.jpg) no-repeat center center/contain;
}
.reference-card:nth-child(2) > .ref-card-pic{
  background: url(../img/Bolyhos\ birs.jpg) no-repeat center center/contain;
}
.reference-card:nth-child(3) > .ref-card-pic{
  background: url(../img/Márton\ és\ Lányai\ birs.jpg) no-repeat center center/contain;
}
.reference-card:nth-child(4) > .ref-card-pic{
  background: url(../img/magyar\ Talléros\ Pálinka\ birs.PNG) no-repeat center center/contain;
}
.reference-card:nth-child(5) > .ref-card-pic{
  background: url(../img/Gyulai\ birs.PNG) no-repeat center center/contain;
}
.reference-card:nth-child(6) > .ref-card-pic{
  background: url(../img/Potio\ nobilis\ birs.png) no-repeat center center/contain;
}
.reference-card:nth-child(7) > .ref-card-pic{
  background: url(../img/Erős\ pálinkafőzde\ birs.jpg) no-repeat center center/contain;
}
.reference-card:nth-child(8) > .ref-card-pic{
  background: url(../img/Csalló\ birs.jpg) no-repeat center center/contain;
}
.reference-card:nth-child(9) > .ref-card-pic{
  background: url(../img/Árpád\ birs.jpg) no-repeat center center/contain;
}
.reference-card:nth-child(10) > .ref-card-pic{
  background: url(../img/Alexander\ Birs.jpg) no-repeat center center/contain;
}
.reference-card:nth-child(11) > .ref-card-pic{
  background: url(../img/Zwack\ birs.jpg) no-repeat center center/contain;
}
.reference-card:nth-child(12) > .ref-card-pic{
  background: url(../img/Panyolai\ Pálinka.jpg) no-repeat center center/contain;
}

.auchan{
  padding: 0rem 15rem;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auchan-pic{
  height: 400px;
  width: 400px;
  background: url(../img/Auchan\ Magyarország\ Zrt..png) no-repeat center center/contain;
  margin: -5rem 0;
}

.auchan-text{
  margin-bottom: 6rem;
}

.vid{
  width: 100%;
  margin: 0 auto 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe{
  height: 750px;
  width: 75%;
}

/* CONTACT CONTAINER */

#contact-section{
  margin-bottom: 3rem;
  overflow:  hidden;
}

.contact-section-container{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contact-text{
  padding: 0 2rem;
  position: relative;
  background: transparent;
}

.about-us-contact-content{
  position: relative;
}

.form-branch{
  position: absolute;
  height: 120%;
  width: 50%;
  background: url(../img/branch-1299957.png) no-repeat center center/contain;
  bottom: -20%;
  right: -20%;
  z-index: 20;
}

.contact-icons{
  padding: 0;
  z-index: 1;
  
}

.contact-icons > p{
  padding: 0 0 2rem 0;
}

.contact-icons > a > img{
  height: 400px;
  width: 750px;
  margin-bottom: 2rem;
}

.contact-text > .landing-title{
  padding: 2rem 0 1rem 0;
}

.contact-icons > div{
  margin-bottom: 1rem;
}

.contact-icons > div > i{
  padding: 0;
  margin: 0 .7rem;
  color: var(--birs-color);
}

/* CONTACT FORM */

.required{
  font-style: italic;
  color: var(--birs-color);
  font-size: 1rem;
}

.contact-container{
  height: 100%;
  width: 100%;
  padding: 0 5rem;
}

#contact-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
}

#contact-form > p{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact-form > .landing-title{
  align-self: flex-start;
  padding-left: 0;
}

input{
  border: none;
  border-bottom: 1px solid var(--birs-color);
  box-shadow: none;
  padding: .8rem 0;
  margin: .7rem 0;
  transition: 200ms all ease-in-out;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

input:hover,
textarea:hover{
  background: rgba(231, 214, 24, .3);
  cursor: pointer;
}

input:focus,
textarea:focus{
  border: none;
  border: .2px solid var(--birs-color);
  box-shadow: none;
  box-shadow: 0 0 3px var(--birs-color);
  background: rgba(231, 214, 24, .3);
  outline: none;
}

textarea{
  border: none;
  border-left: 1px solid var(--birs-color);
  border-bottom: 1px solid var(--birs-color);
  box-shadow: none;
  transition: 200ms all ease-in-out;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.privacy-check-box-area{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  position: relative;
}

.privacy-check-box-area > p{
  padding: 1rem 0rem 1rem 2rem;
}

#privacy-check-box{
  border: none;
  outline: var(--birs-color);
  padding: 0;
  margin: 1rem 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-overlay{
  position: absolute;
  top: 13px;
  left: 0;
  height: 25px;
  width: 25px;
  border: .7px solid var(--birs-color);
  transition: 200ms background ease-out;
  cursor: pointer;
}

.checkbox-overlay::before{
  content: "";
  width: 3px;
  height: 110%;
  background-color: transparent;
  left: 48%;
  top: -.5px;
  transform: rotate(45deg) translateX(-50%);
  position: absolute;
  transition: 100ms all ease-in-out;
  transform-origin: center center;
  border-radius: 5px;
}

.checkbox-overlay::after{
  content: "";
  width: 3px;
  height: 110%;
  background-color: transparent;
  right: 40%;
  top: -1.75px;
  transform: rotate(-45deg) translateX(-50%);
  position: absolute;
  transition: 100ms all ease-in-out;
  transform-origin: center center;
  border-radius: 5px;
}

.checkbox-overlay.checked::before,
.checkbox-overlay.checked::after{
  background: white;
}

.checkbox-overlay:hover{
  background: rgba(231, 214, 24, .3);
}

.checkbox-overlay.checked{
  background: rgb(255, 236, 29);
}

.checkbox-overlay.check-me{
  background: red;
}

.privacy-check-link{
  color: var(--birs-color);
  transition: 100ms color ease-out;
}

.privacy-check-link:hover{
  color: rgb(255, 236, 29);
}

.submit-btn > button{
  border: none;
  background: var(--birs-color);
  padding: .6rem 1.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 15px;
  margin: 2rem 0;
  transition: 200ms all ease-in-out;
}

button:hover{
  border-bottom-right-radius: 0;
  background: rgb(255, 236, 29);
}

.alert{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  transform: translateY(-15rem);
  opacity: 0;
  z-index: -5;
  transition: 500ms all ease-in-out;
  color: white;
}

.success{
  background: rgba(49, 153, 49, 0.9);
  background: var(--birs-color);
}

.error{
  background: rgba(255, 65, 65, 0.9);
}

/* FOOTER */

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 1rem;
  padding: 1rem 4rem;
  color: var(--birs-color);
  background: var(--primary-color);
}

.impressum-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.impressum-section > p{
  margin: 1rem 0;
}

.impressum-section > a{
  text-decoration: none;
  color: white;
  transition: 200ms color ease-out;
  cursor: pointer;
  margin: 0 0 1rem 0;
}

.impressum-section > a:hover{
  color: var(--birs-color);
}

.madgoat{
  text-decoration: none;
  color: var(--birs-color);
  cursor: pointer;
  font-weight: 600;
  transition: 200ms color ease-out;
}

.madgoat:hover{
  color: rgb(0, 135, 168);
}

.rights-section{
  margin: 10rem 30rem;
}

.rights-section > .landing-title{
  padding-left: 0;
}

/* PRIVACY SECTION */

.rights-paragraph{
  padding: 1rem;
}



  /* RESPONSIVENESS */

  @media (max-width: 1440px) {
  
    body {
      font-size: 1rem;
    }
  
    i {
      font-size: 1.1rem;
    }
  
    .nav-links > li {
      padding: 0.3rem;
    }
  
    .nav-title {
      font-size: 1.2rem;
    }
  
    .nav-contact {
      font-size: 0.9rem;
    }
    .section-top{
      width: 100%;
    }
  
    .section-top,
    h2{
      font-size: 1.6rem;
    }

    .submit-btn > button{
      font-size: 1rem;
    }

    .thefruit-card-text{
      width: 35%;
      font-size: 1rem;
    }

    .thefruit-card-pic{
      width: 30%;
      height: 70%;
    }

    .contact-icons > a > img{
      height: 350px;
      width: 650px;
    }

    .contact-container{
      padding: 0 1rem;
    }

    .reference-card-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      padding: 2rem 8rem;
    }

  }

  
  @media (min-width: 1025px) {

    .landing-text-container{
      margin-right: 2rem;
      padding: 0;
      transform: translatex(0);
      width: 70%;
    }

    .section-top{
      padding: 8rem 1rem;
    }

    #about-us > .section-top,
    #gallery > .section-top,
    #contact-section > .section-top{
      padding: 2rem 2rem;
      background: none;
    }

    .nav-contact {
      font-weight: 600;
    }

    .nav-links > li {
      padding: 0.7rem 1rem;
      margin: 0 1rem;
      position: relative;
      text-decoration: none;
    }
  
    .nav-links > li {
      padding: 0.5rem;
    }
  
    .nav-title {
      font-size: 1.2rem;
    }
  
    .nav-contact {
      font-size: 0.9rem;
    }

    .about-us-text-content{
      justify-content: space-between;
    }

    .about-us-text-card{
      margin: 0 .9rem;
    }

    .about-us-text{
      line-height: 25px;
      margin-bottom: 2rem;
    }

    #footer {
      font-size: 1.1rem;
    }

    .contact-container{
      padding: 0 6rem;
    }

    .contact-section-container{
      width: 100%;
      margin: 0 2rem;
      
      display: flex;
      flex-direction: column;
    }

    .contact-container{
      width: 100%;
      padding: 0 6rem;
      margin: auto;
    }

    #contact-form{
      max-width: 80%;
    }

    .thefruit-card-pic{
      height: 50%;
      width: 25%;
    }

    .thefruit-card-text{
      font-size: .9rem;
      padding: 0;
      padding-right: 3rem;
    }

    .form-branch{
      left: 55%;
      height: 75%;
      top: 20%;
    }

    .contact-text{
      max-width: 90%;
      margin: auto;
      padding-left: 0;
    }

    .contact-icons{
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
      margin: auto;


    }

    .contact-icons > p{
      padding: 0 0 2rem 0;
    }

    .contact-icons > a {
      align-self: center;
    }

    .contact-icons > a > img{
      height: 480px;
      width: 95%;
    }

    .reference-card-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      padding: 2rem 6rem;
    }

  }
  
  
  .show {
    opacity: 1;
    transform: none;
  }

  @media(max-width: 1024px){
    

    /* SECTION TOP MOBILE - TABLET */ 

    .section-top,
    #about-us > .section-top,
    #contact-section > .section-top,
    #gallery > .section-top{
      padding: 1rem .8rem;
      font-size: 1.2rem;
      background: white;
    }

    .nav-container{
      position: relative;
    }

    header{
      height: auto;
    }


    /* LANDING SECTION MOBILE - TABLET */

    .landing-overlay{
      background: rgba(0, 0, 0, 0.335);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
    }

    .landing-text-container{
      padding: 1rem .8rem;
      margin: 0;
      margin-right: 0;
      width: 100%;
      margin-right: 0;
      max-width: auto;
      max-height: auto;
      z-index: 2;
    }

    .landing-title{
      font-size: 1.3rem;
      padding: 0;
      margin: .7rem 0;
    }

    .landing-text{
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }


    /* ABOUT SECTION MOBILE-TABLET */

    .about-us-container{
      width: 100%;
      display: block;
    }

    .about-us-text-card{
      transition: all 300ms ease-out;
    }

    .about-us-title{
      padding: 1rem .5rem;
      box-shadow: inset 0 0 0 2px var(--birs-color);
      font-size: 1.1rem;
      margin-bottom: .4rem;
      cursor: pointer;
    }

    .about-us-text-card:first-child{
      margin-top: 6rem;
    }

    .about-us-title::after{
      top: -16%;
      left: 60%;
    }

    .about-us-text{
      max-height: 0;
      opacity: 0;
      text-align: left;
      margin: 0.8rem 0;
      padding: 0;
      display: none;
    }

    .card-open{
      display: block;
      animation: openCard 1000ms forwards;
    }

    @keyframes openCard{
      100%{opacity: 1; max-height: 100%;}
    }


    /* THE FRUIT SECTION MOBILE - TABLET */

    #thefruit{
      overflow: visible;
    }

    .thefruit-container{
      display: block;
      overflow: visible;
      height: auto;
    }
    .thefruit-sub-title{
      padding: .7rem;
      font-size: 1.2rem;
    }

    .thefruit-list-container{
      padding: 0;
      display: none;
      overflow: scroll;
      height: auto;
    }

    .thefruit-list{
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .thefruit-card{
      position: relative;
      opacity: 1;
      display: block;
      transform: none;
      margin-bottom: 1rem;
    }
    
    
    .thefruit-card-pic{
      border-top: 4px solid var(--birs-color);
      border-bottom: 4px solid var(--birs-color);
      transform: none;
      margin-right: 0;
      position: relative;
      display: block;
      width: 100%;
      height: 400px;
      background-size: contain;
      top: 0;
    }

    .thefruit-card-pic::before,
    .thefruit-card-pic::after{
      height: 0;
      width: 0;
      padding: 0;
    }

    .thefruit-card-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: auto;
    }

    .thefruit-card-text{
      margin: 0;
      width: 100%;
      padding: .7rem;
    }

    /* GALLERY SECTION MOBILE-TABLET */

    #gallery{
      padding-bottom: 1rem;
    }
    .pic-gallery-container{
      height: 200px;
      width: 100%;
    }

    /* REFERENCE SECTION MOBILE - TABLET */

    #reference > .landing-title{
      font-size: 1rem;
      padding: 1rem;
      text-align: left;
      color: #333;
      font-weight: 400;
    }

    .reference-card-container{
      padding: 0;
      display: block;
    }

    .ref-card-pic{
      height: 180px;
    }


    .auchan{
      padding: 0;
    }

    .auchan-pic{
      height: 180px;
      width: 180px;
      margin: 1rem 0;
    }

    .auchan-text{
      padding: 0 1rem;
    }

    /* CONTACT SECTION MOBILE - TABLET */

    .contact-section-container{
      width: 100%;
      display: block;
      padding: 1rem;
    }

    .contact-text{
      padding: 0;
    }

    .contact-text > .landing-title{
      padding: 0;
    }

    .contact-icons > p{
      padding: 0;
    }

    .contact-icons > a > img{
    
      height: 180px;
      width: 100%;
    
    }

    #contact-form{
      padding: 0;
    }


    .privacy-check-box-area{
      font-size: .85rem;
    }

    .checkbox-overlay{
      height: 20px;
      width: 20px;
      top: 15px;
    }

    .vid{
      padding: 1rem;
    }

    iframe{
      height: 200px;
      width: 100%;
    }

    /* FOOTER MOBILE - TABLET */

    footer{
      flex-direction: column;
      padding: 1rem;
      text-align: center;
    }

  }
