@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --primary-color: rgb(68, 68, 68);
    --birs-color: rgb(231, 214, 24);
    --dark-birs: rgb(192, 176, 5);
    --secondary-color: rgb(122, 69, 0);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

.section-top{
    padding: 8rem;
    color: var(--birs-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    background: url(../img/Trenner2.png) no-repeat center center/contain;
    width: 100%;
}

.bold{
    font-weight: 600;
}

.is-active,
.nav-link.is-active{
  color: var(--birs-color);
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

/* LOADING SCREEN */

#loading-screen{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
    overflow: hidden;
  }

  .loading-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/landing-birs.jpg) no-repeat center center/cover;
    transition: 300ms opacity ease-out;
  }
  
  #loading{
    color: whitesmoke;
    font-size: 5rem;
  }
  
  .loading-dots{
    animation: fadingDots 1200ms infinite;
    opacity: 0;
  }
  
  @keyframes fadingDots{
  
    0%{
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }
  
  .loading-dots:nth-child(2){
    animation-delay: 400ms;
  }
  
  .loading-dots:nth-child(3){
    animation-delay: 800ms;
  }

  /* NAVIGATION BAR */

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    z-index: 15;
    background: rgba(255, 255, 255, 0.85);
    border-bottom: 2px solid var(--birs-color);
  }
  
  .nav-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 200ms all ease-in-out;
    overflow: hidden;
    background: linear-gradient(to right, white,  rgba(231, 214, 24, .3),white);
  }
  
  .nav-title {
    font-size: 1.4rem;
    padding: 1rem;
    color: var(--birs-color);
  }
  
  i {
    margin: 0rem 1rem;
    color: var(--primary-color);
    font-size: 1.3rem;
  }
  
  .nav-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* background: rgb(255, 255, 255); */
    overflow-x: hidden;
    padding: 0.6rem 0;
  }
  
  .nav-links > li {
    padding: 0.7rem 1rem;
    margin: 0 3rem;
    position: relative;
    text-decoration: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: var(--primary-color);
    transition: 150ms all ease-in-out;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: var(--birs-color);
  }
  
  a::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: var(--birs-color);
    transition: 150ms all ease-in-out;
  }
  
  .nav-link:hover:after {
    width: 70%;
  }

  .menu-btn {
    position: fixed;
    top: 12px;
    right: 15px;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    display: none;
  }
  
  .menu-line {
    height: 3px;
    width: 100%;
    background: var(--primary-color);
    transition: 200ms ease-out all;
  }
  
  .menu-btn.menu-show > .menu-line:nth-child(1) {
    background: var(--primary-color);
    transform: translateY(8px) rotate(-45deg);
  }
  
  .menu-btn.menu-show > .menu-line:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn.menu-show > .menu-line:nth-child(3) {
    background: var(--primary-color);
    transform: translateY(-8px) rotate(45deg);
  }

header{
    height: 100vh;
    width: 100%;
}

#landing-page{
    background: url(../img/branch-1299957.png) no-repeat bottom center/contain;
    background-position-x: 1050px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(-70px) skewY(1deg);
    transition: 700ms transform ease-in-out;
}

.landing-text-container{
    padding: 25rem 0;
    margin-right: 12rem;
    max-width: 850px;
    max-height: 650px;
    color: var(--primary-color);
    transform: translatex(2rem);
    transition: 700ms transform ease-in-out 1ms;
}

.landing-title{
  color: var(--birs-color);
  padding: 2rem;
}

.landing-text{
  line-height: 30px;
  padding: 0 5rem 0 0;
}

/* THE FRUIT SECTION */

#thefruit{
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.thefruit-container{
  display: grid;
  grid-template-columns: .75fr 1.75fr;
  position: relative;
  overflow: hidden;
}

.thefruit-card{
  /* background: rgb(241, 241, 241); */
  padding: 2rem 3rem;
  position: absolute;
  display: flex;
  opacity: 0;
  height: 100%;
  width: 75%;
  transform: translateX(30%);
  transition: 300ms all ease-out 0ms;
}

.thefruit-card.card-show{
  transform: none;
  opacity: 1;
  z-index: 6;
  transition-delay: 0ms;
}

.thefruit-list-container{
  padding: 5rem;
  text-align: center;
  position: relative;
}

/* .thefruit-list-container::after{
  content: "";
  position: absolute;
  height: 75%;
  width: 2px;
  background: var(--birs-color);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
} */

.thefruit-list{
  list-style: none;
}

.thefruit-list-point{
  padding: .5rem 2rem;
}

.thefruit-card-title{
  text-transform: uppercase;
  padding: 1rem 0;
  color: var(--birs-color);
}

.thefruit-card-pic{
  height: 100%;
  width: 40%;
  margin-right: 3rem;
  background: url(../img/quince-1737596_1280.jpg) no-repeat center center/cover;
  position: relative;
}

.thefruit-card-pic::before{
  content: "";
  position: absolute;
  height: 80%;
  width: 2px;
  background: var(--birs-color);
  top: 50%;
  transform: translatey(-50%);
  left: -10%;
}

.thefruit-card-pic::after{
  content: "";
  position: absolute;
  height: 80%;
  width: 2px;
  background: var(--birs-color);
  top: 50%;
  transform: translatey(-50%);
  right: -10%;
}

.thefruit-card:nth-child(1) > .thefruit-card-pic{
  background: url(../img/quince-1737596_1280.jpg) no-repeat center center/contain;
}

.thefruit-card:nth-child(2) > .thefruit-card-pic{
  background: url(../img/quince-1812039_1920.jpg) no-repeat center center/cover;
}

.thefruit-card:nth-child(3) > .thefruit-card-pic{
  background: url(../img/quince-3747516_1280.jpg) no-repeat center center/cover;
}

.thefruit-card:nth-child(4) > .thefruit-card-pic{
  background: url(../img/vranjai.jpg) no-repeat center center/cover;
}

.thefruit-card:nth-child(5) > .thefruit-card-pic{
  background: url(../img/quince-61574_1920.jpg) no-repeat center center/cover;
}

.thefruit-card:nth-child(6) > .thefruit-card-pic{
  background: url(../img/leskovaci.jpg) no-repeat center center/cover;
}

.thefruit-card:nth-child(7) > .thedruid-card-pic{
  background: url(../img/quince-1737596_1280.jpg) no-repeat center center/contain;
}

.thefruit-card-text{
  padding: 3rem 1rem;
}
.thefruit-card-text > p{
  max-width: 550px;
}

/* ABOUT US SECTION */

#about-us{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
}

.about-us-container{
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-us-text-card{
  margin: 0 2rem;
}

.about-us-title{
  color: var(--birs-color);
  padding: 2rem 0 3rem 0;
}

.about-us-text{
  line-height: 40px;
  margin-bottom: 2rem;
}

#about-us > .section-top,
#gallery > .section-top{
  padding: 2rem 8rem;
}


/* CONTACT CONTAINER */

#contact-section{
  margin-bottom: 20rem;
}

.contact-section-container{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contact-text{
  padding: 0 2rem;
}

.contact-icons{
  padding: 2rem;
}

.contact-icons > p{
  padding: 0 0 2rem 0;
}

.contact-icons > div{
  margin-bottom: 1rem;
}

.contact-icons > div > i{
  padding: 0;
  margin: 0 .7rem;
  color: var(--birs-color);
}

/* CONTACT FORM */

.required{
  font-style: italic;
  color: var(--birs-color);
  font-size: 1rem;
}

.contact-container{
  height: 100%;
  width: 100%;
  padding: 0 12rem;
}

#contact-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
}

#contact-form > p{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact-form > .landing-title{
  align-self: flex-start;
  padding-left: 0;
}

input{
  border: none;
  border-bottom: 1px solid var(--birs-color);
  box-shadow: none;
  padding: .8rem 0;
  margin: .7rem 0;
  transition: 200ms all ease-in-out;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

input:hover,
textarea:hover{
  background: rgba(231, 214, 24, .3);
  cursor: pointer;
}

input:focus,
textarea:focus{
  border: none;
  border: .2px solid var(--birs-color);
  box-shadow: none;
  box-shadow: 0 0 3px var(--birs-color);
  background: rgba(231, 214, 24, .3);
  outline: none;
}

textarea{
  border: none;
  border-left: 1px solid var(--birs-color);
  border-bottom: 1px solid var(--birs-color);
  box-shadow: none;
  transition: 200ms all ease-in-out;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.submit-btn > button{
  border: none;
  background: var(--birs-color);
  padding: .6rem 1.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 15px;
  margin: 2rem 0;
  transition: 200ms all ease-in-out;
}

button:hover{
  border-bottom-right-radius: 0;
  background: rgb(255, 236, 29);
}

.alert{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  transform: translateY(-15rem);
  opacity: 0;
  z-index: -5;
  transition: 500ms all ease-in-out;
  color: white;
}

.success{
  background: rgba(49, 153, 49, 0.9);
  background: var(--birs-color);
}

.error{
  background: rgba(255, 65, 65, 0.9);
}

/* PIC GALLERY CAROUSEL */

#gallery{
  padding-bottom: 7rem;
  background: var(--primary-color);
}

.pic-gallery-container{
  width: 80%;
  height: 80vh;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}

.carousel-slide{
  display: flex;
  height: 100%;
  width: 100%;
}

.carousel-slide-card{
  min-width: 100%;
  height: 100%;
}

#firstClone{
  background: url(../img/slider1.jpg) no-repeat center center/cover;
}

#lastClone{
  background: url(../img/slider10.jpg) no-repeat center bottom/cover;
}

.carousel-slide-card:nth-child(2){
  background: url(../img/slider1.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(3){
  background: url(../img/slider2.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(4){
  background: url(../img/slider3.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(5){
  background: url(../img/slider4.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(6){
  background: url(../img/slider5.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(7){
  background: url(../img/slider6.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(8){
  background: url(../img/slider7.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(9){
  background: url(../img/slider8.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(10){
  background: url(../img/slider9.jpg) no-repeat center center/cover;
}

.carousel-slide-card:nth-child(11){
  background: url(../img/slider10.jpg) no-repeat center bottom/cover;
}

#next-btn{
  padding: 1rem;
  border-radius: 50%;
  background: whitesmoke;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: var(--birs-color);
  font-size: 25px;
  cursor: pointer;
  z-index: 20;
  transition: 100ms all ease-in-out;
}

#prev-btn{
  padding: 1rem;
  border-radius: 50%;
  background: whitesmoke;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  color: var(--birs-color);
  font-size: 25px;
  cursor: pointer;
  z-index: 20;
  transition: 100ms all ease-in-out;
}

#prev-btn:hover,
#next-btn:hover{
  background: rgba(80, 80, 80, 0.55);
}

#progress-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  height: 10px;
  width: 0;
  background: var(--birs-color);
  z-index: 20;
  transition: width 4000ms;
}

/* HOW-TO-USE SECTION */

#how-to-use-section{
  display: none;
}


/* PRICE SECTION */

#price-section{
  background-color: var(--birs-color);
  background: url(../img/quince-1737596_1280.jpg) no-repeat center center/contain;
  background-position-x: 650px;
}

.price-card-container{
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
}

.price-card{
  padding: 1rem 2rem;
  margin: 0 6rem;
  background: rgba(231, 214, 24, .1);
  line-height: 40px;
  position: relative;
  border-radius: 10%;
}

/* .price-card::after{
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translatex(-50%);
  height: 5px;
  width: 90%;
  background: linear-gradient(to bottom, rgba(207, 207, 207, 0.25), rgba(0, 0, 0, .3), rgba(207, 207, 207, 0.25));
  box-shadow: 0 0 2px rgba(207, 207, 207, 0.25);
  border-radius: 45%;
} */

.price-card-title{
  font-size: 1.7rem;
  color: var(--primary-color);
  font-weight: 500;
  padding: 1rem 0;
  text-transform: uppercase;
}

.price-additional-info{
  padding: 3rem;
  font-size: 1.1rem;
  text-align: right;
  font-style: italic;
  color: var(--dark-birs);
  color: var(--secondary-color);
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  font-size: 1rem;
  padding: 1rem 4rem;
  color: var(--birs-color);
  background: var(--primary-color);
}

.impressum-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.impressum-section > p{
  margin: 1rem 0;
}

.impressum-section > a{
  text-decoration: none;
  color: white;
  transition: 200ms color ease-out;
  cursor: pointer;
  margin: 0 0 1rem 0;
}

.impressum-section > a:hover{
  color: var(--birs-color);
}

.madgoat{
  text-decoration: none;
  color: var(--birs-color);
  cursor: pointer;
  font-weight: 600;
  transition: 200ms color ease-out;
}

.madgoat:hover{
  color: rgb(0, 135, 168);
}

.rights-section{
  margin: 10rem 30rem;
}

  /* RESPONSIVENESS */

  @media (max-width: 1440px) {

    #landing-page{
      background-position-x: 850px;
    }
  
    body {
      font-size: 1rem;
    }
  
    i {
      font-size: 1.1rem;
    }
  
    .nav-links > li {
      padding: 0.3rem;
    }
  
    .nav-title {
      font-size: 1.2rem;
    }
  
    .nav-contact {
      font-size: 0.9rem;
    }
    .section-top{
      width: 100%;
    }
  
    .section-top,
    h2{
      font-size: 1.6rem;
    }

    .submit-btn > button{
      font-size: 1rem;
    }

    .thefruit-card-text{
      width: 45%;
    }

  }

  
  @media (max-width: 1025px) {

    #landing-page{
      background-position-x: 450px;
    }

    .landing-text-container{
      margin-right: 2rem;
      padding: 0;
      transform: translatex(0);
      width: 70%;
    }

    .section-top{
      padding: 8rem 1rem;
    }

    #about-us > .section-top,
    #gallery > .sectioin-top{
      padding: 2rem 1rem;
      background: none;
    }

    .nav-contact {
      font-weight: 600;
    }

    .nav-links > li {
      padding: 0.7rem 1rem;
      margin: 0 1rem;
      position: relative;
      text-decoration: none;
    }
  
    .bold {
      display: none;
    }
  
    .nav-links > li {
      padding: 0.5rem;
    }
  
    .nav-title {
      font-size: 1.2rem;
    }
  
    .nav-contact {
      font-size: 0.9rem;
    }

    .about-us-text-content{
      justify-content: space-between;
    }

    .about-us-text-card{
      margin: 0 .9rem;
    }

    .about-us-text{
      line-height: 25px;
      margin-bottom: 2rem;
    }

    #footer {
      font-size: 1.1rem;
    }

    .contact-container{
      padding: 0 6rem;
    }

    .contact-section-container{
      width: 100%;
    }

    .contact-icons{
      padding: 1rem;
    }

    .contact-text{
      padding: 0;
    }
  }
  
  @media (max-width: 869px) {
    section {
      max-width: 100%;
    }

  
    .nav-contact {
      display: none;
    }
  
    .menu-btn {
      display: flex;
    }
  
    .nav-links {
      display: block;
      transition: 300ms all ease-out;
      max-height: 0;
      opacity: 0;
      overflow-y: hidden;
      text-align: center;
      /* border-top: 1px solid var(--türkiz); */
    }
  
    .nav-links.menu-show {
      transition: 300ms all ease-out;
      max-height: 250px;
      opacity: 1;
    }
  
    #footer {
      text-align: center;
      font-size: 0.9rem;
    }
  
    #contact-section{
      flex-direction: column;
      justify-content: center;
      padding: 2rem 1rem;
    }
  
    .contact-quote{
      padding: 1rem 0;
    }
  
    .contact-details-title{
      font-size: 1.3rem;
    }
    
  }
  
  .show {
    opacity: 1;
    transform: none;
  }
